<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>335272575757-27bnhv0ratkeijruof2katfh8nbocerc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335272575757-27bnhv0ratkeijruof2katfh8nbocerc</string>
	<key>API_KEY</key>
	<string>AIzaSyBabBzA_tl4GBEbho5V8riq1qQg7PMNWzc</string>
	<key>GCM_SENDER_ID</key>
	<string>335272575757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.frutivity.frutivityapp</string>
	<key>PROJECT_ID</key>
	<string>frutivity-904e4</string>
	<key>STORAGE_BUCKET</key>
	<string>frutivity-904e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335272575757:ios:4297d974003580c4f9a644</string>
	<key>DATABASE_URL</key>
	<string>https://frutivity-904e4.firebaseio.com</string>
</dict>
</plist>